@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Lato';
  letter-spacing: 1px;
}
.okay {
  font-family: Lobster;
}
